
CustomPolicyApi/CustomPolicyApi.ApiService/obj/

CustomPolicyApi/CustomPolicyApi.AppHost/obj/

CustomPolicyApi/CustomPolicyApi.ServiceDefaults/obj/

CustomPolicyApi/CustomPolicyApi.Tests/obj/

CustomPolicyApi/CustomPolicyApi.Web/obj/
CustomPolicyApi/.vs/
CustomPolicyApi/.idea/
CustomPolicyXmlFiles/.idea/

CustomPolicyApi/CustomPolicyApi.ApiService/bin/

CustomPolicyApi/CustomPolicyApi.AppHost/bin/

CustomPolicyApi/CustomPolicyApi.ServiceDefaults/bin/

CustomPolicyApi/CustomPolicyApi.Web/bin/

CustomPolicyApi/CustomPolicyApi.Tests/bin/
